<div class="parent">
    <div class="row container">
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" id="img">
 
       </div>
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <div class="nombre">
             <h2 class="fw-normal" id="nombre">{{persona.nombre}} {{persona.apellido}}</h2>
             <p>Full Stack Developer Jr.</p>
          </div>
       </div>
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
 
             <h2 class="fw-normal">Acerca de mí</h2>
             <p>Vivo en Moreno, Provincia de Buenos Aires. Trabajo en la Universidad Nacional de Moreno. De manera autodidacta, me encuentro aprendiendo programación hace cuatro años.</p>
 
       </div>
    </div>
 </div>
 <div>   
    <div class="foto">
       <img src="../../../assets/perfil.jpeg" class="img-fluid" id="foto_perfil">
    </div> 
 </div>
 